@import '/src/App';
.generalContainer {
  display: flex;
  background-color:black;
  justify-content: center;
}
.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75vw;
  max-width: 100%;
  .projectsContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
}
.title {
  padding-top: 1rem;
  text-align: center;
}
