@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --color-primary: #ff014f;
  --color-secondary: #f4f5f6;
  --color-tertiary: #0d1013;
  --color-gray: #f6f6f6;
  --color-subtitle: #f9004d;
  --background-color-1: linear-gradient(145deg, #0d0d0f, #1d2124);
  --background-color-2: #1b1d20;
  --shadow-1: 5px 5px 5px #1c1e22, -10px -10px 19px #181a1d;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  --shadow-white-3: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  --gradient-box-w: linear-gradient(145deg, #e2e8ec, #ffffff);
  --gradient-red-hover: linear-gradient(145deg, #ff014f, #d11414);
  --color-heading: #ffffff;
  --color-heading-wv: #1e2125;
  --color-body: #878e99;
  --color-body-white: #3c3e41;
  --color-lightn: #c4cfde;
  --color-midgray: #878787;
  --color-light: #E4E6EA;
  --color-lighter: #CED0D4;
  --color-lightest: #F0F2F5;
  --color-border: #E6E6E6;
  --color-white: #ffffff;
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-success: #3EB75E;
  --color-danger: #FF0003;
  --color-warning: #FF8F3C;
  --color-info: #1BA2DB;
  --color-facebook: #3B5997;
  --color-twitter: #1BA1F2;
  --color-youtube: #ED4141;
  --color-linkedin: #0077B5;
  --color-pinterest: #E60022;
  --color-instagram: #C231A1;
  --color-vimeo: #00ADEF;
  --color-twitch: #6441A3;
  --color-discord: #7289da;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.4s;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --font-size-b1: 18px;
  --font-size-b2: 22px;
  --font-size-b3: 14px;
  --line-height-b1: 1.50;
  --line-height-b2: 1.6;
  --line-height-b3: 1.7;
  --h1: 70px;
  --h2: 60px;
  --h3: 50px;
  --h4: 40px;
  --h5: 30px;
  --h6: 20px;
}

span {
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: -apple-system, Nunito, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  cursor: pointer;
}


a{
  color: var(--color-lightn);
  
  font-size: 13px;
  font-weight: var(--s-regular);
  
  font-family: var(--font-secondary);
  text-decoration: none;
}
a:hover{
  transition: var(--transition);
  text-transform: uppercase;
  color: var(--color-primary)
}

p {
  color: #fff;
  font-family: 'Lato',sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 15px;
  padding: 0;
}
span {
  color: #fff;
}
h1 {
    color: var(--color-primary);
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    word-spacing: 5px;
}

h2 {
  font-size: 3rem;
  color:var(--color-primary);
}

.container {
  max-width: 1240px;
  margin: auto;
}

button {
 padding: 16px 48px;
 background:none;
 border:2px solid #131313;
 color:#fff;
 font-size: 20px;
 cursor: pointer;
 position: relative;
 overflow: hidden;
 transition: all 0.3s;
}

button::before {
 content:"";
 position: absolute;
 width: 100px;
 height: 120%;
 background-color: rgba(255, 255, 255, 0.4);
 top:50%;
 transform: skew(30deg) translate(-150%, -50%);
 transition: all 0.5s;
}
button:hover{
 background-color: var(--color-primary);
 color:#fff;
}
button:hover::before{
  transform: skew(30deg) translate(-150%, -50%);
  transition-delay: 0.1s;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px){
button {
    font-size: 13px;
    padding: 17px 19px;
    line-height: 21px;
}
}
@media screen and (max-width: 1024px ) {
  h1{
    font-size: 40px
  }
}
@media screen and (max-width: 769px ) {
  h1{
    font-size: 40px
  }
  p{
    font-size: 14px;
  }
  button {
    font-size: 13px;
    padding: 17px 19px;
    line-height: 21px;
}
}
@media screen and (max-width: 576px ) {
  h1{
    margin-bottom: 5px;
    font-size: 30px;
  } 
}


// button {
//   border-radius: 6px;
//     background: linear-gradient(145deg, #1e2024, #23272b);
//     box-shadow: var(--shadow-1);
//     transition: var(--transition);
//     position: relative;
//     z-index: 2;
//     font-size: 14px;
//     font-weight: 500;
//     border: 0 none;
//     cursor: pointer;
//     color: var( --color-primary)
// }