@import '/src/App';
.generalContainer {
    margin: 22px;
    width: 150px;
    background: linear-gradient(0deg, rgb(43, 42, 42), rgb(131, 130, 130), #ccc);
    box-shadow: var(--shadow-1);
    border-radius: 15px;    
}

.contentContainer {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
}

.img {
    width: 70.5px;
    height: 70.5px;
    margin-top: 20px;
    color:white;
}

.title {
    width: 100%;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    word-break: break-word;
    padding: 15px 10px;
}

@media screen and (max-width: 480px) {
    .generalContainer {
        @include adaptive-value("width", 480, 175, 120, px, 1);
        @include adaptive-value("margin", 480, 15, 10, px, 1);
    }

    .img {
        @include adaptive-value("width", 480, 90.5, 63.5, px, 1);
        @include adaptive-value("height", 480, 90.5, 63.5, px, 1);
    }

    .title {
        @include adaptive-value("font-size", 480, 22, 20, px, 1);
    }
}